<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidianfan.pig.user.dao.mapper.TableTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidianfan.pig.user.dao.entity.TableType">
        <id column="id" property="id" />
        <result column="business_id" property="businessId" />
        <result column="name" property="name" />
        <result column="min_people_num" property="minPeopleNum" />
        <result column="max_people_num" property="maxPeopleNum" />
        <result column="sort" property="sort" />
        <result column="status" property="status" />
    </resultMap>

</mapper>
