<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidianfan.pig.push.dao.mapper.PushDeviceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidianfan.pig.push.dao.entity.PushDevice">
        <id column="id" property="id" />
        <result column="registration_id" property="registrationId" />
        <result column="device_type" property="deviceType" />
        <result column="alias" property="alias" />
        <result column="tag" property="tag" />
        <result column="online_status" property="onlineStatus" />
        <result column="is_enable" property="isEnable" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="mobile" property="mobile" />
    </resultMap>

</mapper>
