<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidianfan.pig.yd.moduler.common.dao.mapper.BillSyncMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidianfan.pig.yd.moduler.common.dao.entity.BillSync">
        <id column="id" property="id" />
        <result column="business_id" property="businessId" />
        <result column="business_name" property="businessName" />
        <result column="area_code" property="areaCode" />
        <result column="table_code" property="tableCode" />
        <result column="bbbc" property="bbbc" />
        <result column="zdbh" property="zdbh" />
        <result column="sjje" property="sjje" />
        <result column="bbrq" property="bbrq" />
        <result column="actual_num" property="actualNum" />
        <result column="created_at" property="createdAt" />
    </resultMap>

</mapper>
