<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidianfan.pig.yd.moduler.common.dao.mapper.BusinessCustomerAnalysisDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidianfan.pig.yd.moduler.common.dao.entity.BusinessCustomerAnalysisDetail">
        <id column="id" property="id" />
        <result column="vip_id" property="vipId" />
        <result column="vip_name" property="vipName" />
        <result column="vip_phone" property="vipPhone" />
        <result column="business_id" property="businessId" />
        <result column="vip_value_type" property="vipValueType" />
        <result column="date" property="date" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
