<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidianfan.pig.yd.moduler.common.dao.mapper.BusinessCustomerAnalysisInfoTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidianfan.pig.yd.moduler.common.dao.entity.BusinessCustomerAnalysisInfoTask">
        <id column="id" property="id" />
        <result column="business_id" property="businessId" />
        <result column="date" property="date" />
        <result column="use_tag" property="useTag" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
