<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidianfan.pig.yd.moduler.common.dao.mapper.BusinessMeetingNoticeLinkmanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidianfan.pig.yd.moduler.common.dao.entity.BusinessMeetingNoticeLinkman">
        <id column="id" property="id" />
        <result column="business_id" property="businessId" />
        <result column="business_meeting_notice_id" property="businessMeetingNoticeId" />
        <result column="app_user_id" property="appUserId" />
        <result column="notice_type" property="noticeType" />
        <result column="linkman_name" property="linkmanName" />
        <result column="linkman_phone" property="linkmanPhone" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

</mapper>
