<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidianfan.pig.yd.moduler.common.dao.mapper.DishCmMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidianfan.pig.yd.moduler.common.dao.entity.DishCm">
        <id column="id" property="id" />
        <result column="cmbh" property="cmbh" />
        <result column="cmmc" property="cmmc" />
        <result column="xlbh" property="xlbh" />
        <result column="cmje" property="cmje" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="status" property="status" />
        <result column="business_id" property="businessId" />
        <result column="cmmc_py" property="cmmcPy" />
    </resultMap>

</mapper>
