<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidianfan.pig.yd.moduler.common.dao.mapper.LossValueConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidianfan.pig.yd.moduler.common.dao.entity.LossValueConfig">
        <id column="id" property="id" />
        <result column="hotel_id" property="hotelId" />
        <result column="value_name" property="valueName" />
        <result column="customer_person_avg_start" property="customerPersonAvgStart" />
        <result column="customer_person_avg_end" property="customerPersonAvgEnd" />
        <result column="customer_total_start" property="customerTotalStart" />
        <result column="customer_total_end" property="customerTotalEnd" />
        <result column="customer_count_start" property="customerCountStart" />
        <result column="customer_count_end" property="customerCountEnd" />
        <result column="sort" property="sort" />
        <result column="flag" property="flag" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="update_user_id" property="updateUserId" />
    </resultMap>

</mapper>
