<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidianfan.pig.yd.moduler.common.dao.mapper.ResvOrderTemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidianfan.pig.yd.moduler.common.dao.entity.ResvOrderTem">
        <id column="id" property="id"/>
        <result column="resv_order" property="resvOrder"/>
        <result column="business_id" property="businessId"/>
        <result column="business_name" property="businessName"/>
        <result column="vip_id" property="vipId"/>
        <result column="vip_phone" property="vipPhone"/>
        <result column="vip_name" property="vipName"/>
        <result column="vip_sex" property="vipSex"/>
        <result column="resv_num" property="resvNum"/>
        <result column="resv_date" property="resvDate"/>
        <result column="dest_time" property="destTime"/>
        <result column="status" property="status"/>
        <result column="table_area_id" property="tableAreaId"/>
        <result column="table_area_name" property="tableAreaName"/>
        <result column="area_code" property="areaCode"/>
        <result column="table_id" property="tableId"/>
        <result column="table_name" property="tableName"/>
        <result column="table_code" property="tableCode"/>
        <result column="meal_type_id" property="mealTypeId"/>
        <result column="meal_type_name" property="mealTypeName"/>
        <result column="update_status" property="updateStatus"/>
        <result column="payamount" property="payamount"/>
        <result column="unorder_reason" property="unorderReason"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="meal_type_code" property="mealTypeCode"/>
        <result column="t_created_at" property="tCreatedAt"/>
        <result column="t_updated_at" property="tUpdatedAt"/>
        <result column="remark" property="remark"/>
        <result column="app_user_code" property="appUserCode"/>
        <result column="app_user_name" property="appUserName"/>
        <result column="is_dish" property="isDish"/>
        <result column="third_order_no" property="thirdOrderNo"/>
    </resultMap>

    <resultMap id="selectOrderTemInsertDataMap" type="com.zhidianfan.pig.yd.moduler.order.entity.OrderTem">
        <id column="id" property="id"/>
        <result column="table_area_id" property="tableAreaId"/>
        <result column="table_area_name" property="tableAreaName"/>
        <result column="area_code" property="areaCode"/>
        <result column="table_id" property="tableId"/>
        <result column="table_code" property="tableCode"/>
        <result column="table_name" property="tableName"/>
        <result column="resv_order" property="resvOrder"/>
        <result column="batch_no" property="batchNo"/>
        <result column="business_id" property="businessId"/>
        <result column="business_name" property="businessName"/>
        <result column="vip_id" property="vipId"/>
        <result column="vip_name" property="vipName"/>
        <result column="vip_phone" property="vipPhone"/>
        <result column="vip_sex" property="vipSex"/>
        <result column="resv_num" property="resvNum"/>
        <result column="resv_date" property="resvDate"/>
        <result column="meal_type_id" property="mealTypeId"/>
        <result column="meal_type_name" property="mealTypeName"/>
        <result column="meal_type_code" property="mealTypeCode"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="payamount" property="payamount"/>
        <result column="unorder_reason" property="unorderReason"/>
        <result column="status" property="status"/>
        <result column="dest_time" property="destTime"/>
        <result column="remark" property="remark"/>
        <result column="app_user_name" property="appUserName"/>
        <result column="app_user_code" property="appUserCode"/>
        <result column="is_dish" property="isDish"/>
    </resultMap>

    <insert id="insertTemHHOrders" parameterType="integer">
        insert into resv_order_tem (resv_order,
                                    business_id,
                                    business_name,
                                    vip_id,
                                    table_area_id,
                                    table_area_name,
                                    area_code,
                                    table_code,
                                    table_id,
                                    table_name,
                                    resv_num,
                                    resv_date,
                                    meal_type_id,
                                    vip_name,
                                    vip_phone,
                                    meal_type_name,
                                    created_at,
                                    updated_at,
                                    payamount,
                                    unorder_reason,
                                    status,
                                    meal_type_code,
                                    t_created_at,
                                    t_updated_at,
                                    remark,
                                    app_user_name,
                                    app_user_code,
                                    update_status,
                                    is_dish,
                                    dest_time,
                                    vip_sex)
        select o.resv_order,
               o.business_id,
               o.business_name,
               o.vip_id,
               o.table_area_id,
               o.table_area_name,
               t.area_code,
               t.table_code,
               t.id,
               t.table_name,
               o.resv_num,
               o.resv_date,
               o.meal_type_id,
               o.vip_name,
               o.vip_phone,
               o.meal_type_name,
               o.created_at,
               o.updated_at,
               o.payamount,
               o.unorder_reason,
               (CASE WHEN o.isChangeTable IS NULL THEN o.`status` ELSE 1 END),
               m.meal_type_code,
               now(),
               now(),
               o.remark,
               (select app_user_name from app_user where id = o.app_user_id),
               aubm.app_user_code,
               '1',
               (select count(batch_no) from resv_dish where batch_no = o.batch_no) is_dish,
               o.dest_time,
               o.vip_sex
        from resv_order o
                 left join `table` t on o.table_id = t.id
                 left join meal_type m on o.meal_type_id = m.id
                 left join app_user_business_mapping aubm
                     on o.app_user_id = aubm.app_user_id and o.business_id = aubm.business_id
        where o.business_id = #{businessId}
          and <![CDATA[o.resv_date >= timestamp(date(sysdate()))]]>
          and o.isTirdparty IS NULL
          and o.`status` in (1, 2, 4, 6)
        ON DUPLICATE KEY UPDATE vip_id                  = o.vip_id,
                                table_area_id           = o.table_area_id,
                                table_area_name         = o.table_area_name,
                                area_code               = t.area_code,
                                table_code              = t.table_code,
                                app_user_code           = aubm.app_user_code,
                                table_name              = t.table_name,
                                resv_num                = o.resv_num,
                                resv_date               = o.resv_date,
                                meal_type_id            = o.meal_type_id,
                                meal_type_name          = o.meal_type_name,
                                updated_at              = o.updated_at,
                                payamount               = o.payamount,
                                unorder_reason          = o.unorder_reason,
                                meal_type_code          = m.meal_type_code,
                                update_status           = (case
                                                               when (
                                                (resv_order_tem.status != o.status and resv_order_tem.status != 6) or
                                                resv_order_tem.table_id != o.table_id) then 0
                                                               else update_status end),
                                resv_order_tem.table_id = t.id,
                                resv_order_tem.is_dish  = (select count(batch_no)
                                                           from resv_dish
                                                           where batch_no = o.batch_no)
    </insert>
    <select id="getOrders" resultMap="BaseResultMap">
        select id,
               resv_order,
               business_id,
               table_area_id,
               IFNULL(resv_date, "")                  resv_date,
               IFNULL(area_code, "")                  area_code,
               IFNULL(table_code, "")                 table_code,
               CASE
                   WHEN status = '2' THEN IFNULL((select actual_num from resv_order where resv_order = t.resv_order and t.business_id = t.business_id),
                                                 "")
                   ELSE IFNULL(resv_num, "") END AS   resv_num,
               IFNULL(vip_phone, "")                  vip_phone,
               IFNULL(vip_name, "")                   vip_name,
               IFNULL(meal_type_name, "")             meal_type_name,
               IFNULL(meal_type_code, "")             meal_type_code,
               IFNULL(remark, "")                     remark,
               IFNULL(payamount, "")                  paymount,
               IFNULL(unorder_reason, "")             unorder_reason,
               DATE_FORMAT(created_at, '%Y-%m-%d %T') created_at,
               status,
               IFNULL(app_user_name, "")              app_user_name,
               IFNULL(app_user_code, "")              app_user_code,
               IFNULL(is_dish, 0)                     is_dish,
               dest_time/*到店时间*/,
               vip_sex/*性别*/
                ,
               third_order_no,
               update_status,
               meal_type_id
        from resv_order_tem t
        Where business_id = #{businessId}
#           and update_status = 0
          and <![CDATA[resv_date >= timestamp(date(sysdate()))
        ]]>
    </select>
    <select id="selectOrderTemInsertData" resultMap="selectOrderTemInsertDataMap">
        select t.id,
               o.table_area_id,
               o.table_area_name,
               t.area_code,
               t.id table_id,
               t.table_code,
               t.table_name,
               o.resv_order,
               o.batch_no,
               o.business_id,
               o.business_name,
               o.vip_id,
               o.vip_name,
               o.vip_phone,
               o.vip_sex,
               o.resv_num,
               o.resv_date,
               o.meal_type_id,
               o.meal_type_name,
               m.meal_type_code,
               o.created_at,
               o.updated_at,
               o.payamount,
               o.unorder_reason,
               o.status,
               o.isChangeTable,
               o.remark,
               o.dest_time,
               (select app_user_name from app_user where id = o.app_user_id)       app_user_name,
               aubm.app_user_code,
               (select count(batch_no) from resv_dish where batch_no = o.batch_no) is_dish
        from resv_order o
                 left join `table` t on o.table_id = t.id
                 left join meal_type m on o.meal_type_id = m.id
                 left join app_user_business_mapping aubm
                     on o.app_user_id = aubm.app_user_id and o.business_id = aubm.business_id
        where o.business_id = #{businessId}
          and <![CDATA[o.resv_date >= timestamp(date(sysdate()))]]>
          and o.isTirdparty IS NULL
          and o.`status` in (1, 2, 4, 6)
    </select>

</mapper>
