<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidianfan.pig.yd.moduler.common.dao.mapper.ResvOrderLogsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidianfan.pig.yd.moduler.common.dao.entity.ResvOrderLogs">
        <id column="id" property="id" />
        <result column="resv_order" property="resvOrder" />
        <result column="status" property="status" />
        <result column="status_name" property="statusName" />
        <result column="logs" property="logs" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="app_user_id" property="appUserId" />
        <result column="device_user_id" property="deviceUserId" />
        <result column="android_user_id" property="androidUserId" />
    </resultMap>

    <resultMap id="ResvOrderLogsDTOResultMap" type="com.zhidianfan.pig.yd.moduler.resv.dto.ResvOrderLogsDTO">
        <result column="table_name" property="tableName" />
    </resultMap>

    <select id="selectOrderLogsByBatchNo" resultMap="ResvOrderLogsDTOResultMap">
        SELECT
            A.table_name,
            B.id,
            B.resv_order,
            B.status,
            B.status_name,
            B.logs,
            B.created_at
        FROM
            ( SELECT resv_order,table_name FROM resv_order_android WHERE batch_no = #{batchNo}) A
            LEFT JOIN resv_order_logs B
            ON A.resv_order = B.resv_order
        order by
        created_at	desc

    </select>

    <insert id="insertMeetingOrderStatus2TO3">
        INSERT INTO resv_meeting_order_logs(resv_order,`status`,status_name,`logs`,created_at)
        SELECT r.resv_order,rm.status_id,rm.status_name,'变更预定状态-resv',NOW()
        FROM resv_meeting_order r,resv_meeting_status_mapping rm WHERE r.`status`=2 AND resv_date &lt;= DATE_SUB(CURDATE(),INTERVAL ${intervalNum} DAY) AND rm.status_id=3;

    </insert>

    <insert id="insertMeetingOrderStatus1TO6">
        INSERT INTO resv_meeting_order_logs(resv_order,`status`,status_name,`logs`,created_at)
        SELECT r.resv_order,rm.status_id,rm.status_name,'变更预定状态-resv',NOW()
        FROM resv_meeting_order r,resv_meeting_status_mapping rm WHERE r.`status`=1 AND resv_date &lt;= DATE_SUB(CURDATE(),INTERVAL ${intervalNum} DAY) AND rm.status_id=6;

    </insert>

    <insert id="insertOrderStatus1TO2">
        INSERT INTO resv_order_logs(resv_order,`status`,status_name,`logs`,created_at)
        SELECT r.resv_order,rm.status_id,rm.status_name,'变更预定状态-resv',NOW()
        FROM resv_order r,resv_status_mapping rm WHERE r.`status`=1 AND rm.status_id=2 AND resv_date &lt;= DATE_SUB(CURDATE(),INTERVAL ${intervalNum} DAY);

    </insert>

    <insert id="insertOrderStatus2TO3">
        INSERT INTO resv_order_logs(resv_order,`status`,status_name,`logs`,created_at)
        SELECT r.resv_order,rm.status_id,rm.status_name,'变更预定状态-resv',NOW()
        FROM resv_order r,resv_status_mapping rm WHERE r.`status`=2 AND rm.status_id=3 AND resv_date &lt;= DATE_SUB(CURDATE(),INTERVAL ${intervalNum} DAY) AND r.payamount IS NOT NULL AND r.payamount !='';

    </insert>

    <insert id="insertAndroidOrderStatus1TO2">
        INSERT INTO resv_order_logs(resv_order,`status`,status_name,`logs`,created_at)
        SELECT r.resv_order,rm.status_id,rm.status_name,'变更预定状态-andorid',NOW()
        FROM resv_order_android r,resv_status_mapping rm WHERE r.`status`=1 AND rm.status_id=2 AND resv_date &lt;= DATE_SUB(CURDATE(),INTERVAL ${intervalNum} DAY);

    </insert>

    <insert id="insertAndroidOrderStatus2TO3">
        INSERT INTO resv_order_logs(resv_order,`status`,status_name,`logs`,created_at)
        SELECT r.resv_order,rm.status_id,rm.status_name,'变更预定状态-andorid',NOW()
        FROM resv_order_android r,resv_status_mapping rm WHERE r.`status`=2 AND rm.status_id=3 AND resv_date &lt;= DATE_SUB(CURDATE(),INTERVAL ${intervalNum} DAY) AND r.payamount IS NOT NULL AND r.payamount !='';
    </insert>


</mapper>
